## MySQL

In [ ]:
!pip install install mysql-connector-python
!pip install mysql

In [ ]:
host=DB_HOST
port=DB_PORT
username= DB_USESRNAME
password= DB_PASSWORD
database=DB_database

print(f"mysql://{username}:{password}@{host}:{port}/{database}")

In [ ]:
import mysql.connector

# MySQL database credentials
host='dockerlab.westeurope.cloudapp.azure.com'
port=3306
username='SP_2'
password='WEUTm9xuS12pH3-gG8obLIozeZi2A8gphHzdAH'
database='SP_2'


# Establish a connection to the MySQL database
cnx = mysql.connector.connect(user=username, password=password,
                              host=host, database=database)
cursor = cnx.cursor()

# SQL statements for creating tables in MySQL
create_table_statements = [
    """CREATE TABLE IF NOT EXISTS Patient (
        patient_id INT AUTO_INCREMENT PRIMARY KEY,
        full_name VARCHAR(255),
        date_of_birth DATE,
        address TEXT,
        gender VARCHAR(255),
        contact_number VARCHAR(255)
    )""",
    """CREATE TABLE IF NOT EXISTS Subscriber (
        subscriber_id INT AUTO_INCREMENT PRIMARY KEY,
        name VARCHAR(255),
        type VARCHAR(255),
        contact_details TEXT
    )""",
    """CREATE TABLE IF NOT EXISTS Manufacturer (
        manufacturer_id INT AUTO_INCREMENT PRIMARY KEY,
        manufacturer_name VARCHAR(255),
        manufacturer_address TEXT,
        manufacturer_contact VARCHAR(255)
    )""",
    """CREATE TABLE IF NOT EXISTS DeviceStaticInfo (
        device_id INT AUTO_INCREMENT PRIMARY KEY,
        manufacturer_id INT,
        model VARCHAR(255),
        purchase_date DATE,
        warranty_expiry DATE,
        FOREIGN KEY (manufacturer_id) REFERENCES Manufacturer(manufacturer_id)
    )""",
    """CREATE TABLE IF NOT EXISTS DeviceOperationalData (
        data_id INT AUTO_INCREMENT PRIMARY KEY,
        device_id INT,
        timestamp TIMESTAMP,
        battery_level INT,
        firmware_version VARCHAR(255),
        connectivity_status VARCHAR(255),
        error_codes VARCHAR(255),
        FOREIGN KEY (device_id) REFERENCES DeviceStaticInfo(device_id)
    )""",
    """CREATE TABLE IF NOT EXISTS GlucoseReadings (
        reading_id INT AUTO_INCREMENT PRIMARY KEY,
        patient_id INT,
        device_id INT,
        glucose_level FLOAT,
        timestamp TIMESTAMP,
        location TEXT,
        FOREIGN KEY (patient_id) REFERENCES Patient(patient_id),
        FOREIGN KEY (device_id) REFERENCES DeviceStaticInfo(device_id)
    )""",
    """CREATE TABLE IF NOT EXISTS Alerts (
        alert_id INT AUTO_INCREMENT PRIMARY KEY,
        patient_id INT,
        reading_id INT,
        alert_type VARCHAR(255),
        message TEXT,
        timestamp TIMESTAMP,
        FOREIGN KEY (patient_id) REFERENCES Patient(patient_id),
        FOREIGN KEY (reading_id) REFERENCES GlucoseReadings(reading_id)
    )""",
    """CREATE TABLE IF NOT EXISTS AlertLifecycle (
        lifecycle_id INT AUTO_INCREMENT PRIMARY KEY,
        alert_id INT,
        action_by_user_id INT,
        action_type VARCHAR(255),
        action_note TEXT,
        action_timestamp TIMESTAMP,
        FOREIGN KEY (alert_id) REFERENCES Alerts(alert_id),
        FOREIGN KEY (action_by_user_id) REFERENCES Subscriber(subscriber_id)
    )""",
    """CREATE TABLE IF NOT EXISTS SubscribedPatients (
        subscriber_id INT,
        patient_id INT,
        PRIMARY KEY (subscriber_id, patient_id),
        FOREIGN KEY (subscriber_id) REFERENCES Subscriber(subscriber_id),
        FOREIGN KEY (patient_id) REFERENCES Patient(patient_id)
    )"""
]

# Execute each SQL statement to create the tables
for statement in create_table_statements:
    cursor.execute(statement)

# Commit the changes to the database
cnx.commit()

# Close the cursor and the connection
cursor.close()
cnx.close()

## Popualate Database with synthetic data

In [ ]:
from faker import Faker
import sqlite3

fake = Faker()


# Connect to MySQL database
conn = mysql.connector.connect(
    host=db_host,
    user=db_user,
    password=db_password,
    database=db_name
)
cursor = conn.cursor()


# Generate data for Patient table
for _ in range(10):  # Assuming you want to generate data for 10 patients
    full_name = fake.name()
    gender = fake.random_element(elements=['Male', 'Female', 'Other'])
    date_of_birth = fake.date_of_birth().strftime('%Y-%m-%d')
    address = fake.address()
    contact_number = fake.phone_number()
    cursor.execute("INSERT INTO Patient (full_name, date_of_birth, address, gender, contact_number) VALUES (?, ?, ?, ?, ?)",
                   (full_name, date_of_birth, address, gender, contact_number))

# Generate data for Subscriber table
for _ in range(5):  # Assuming you want to generate data for 5 subscribers
    name = fake.name()
    subscriber_type = fake.random_element(elements=['patient', 'doctor', 'caregiver', 'app'])
    contact_details = fake.email()
    cursor.execute("INSERT INTO Subscriber (name, type, contact_details) VALUES (?, ?, ?)",
                   (name, subscriber_type, contact_details))

# Generate data for Manufacturer table
for _ in range(3):  # Assuming you want to generate data for 3 manufacturers
    manufacturer_name = fake.company()
    manufacturer_address = fake.address()
    manufacturer_contact = fake.phone_number()
    cursor.execute("INSERT INTO Manufacturer (manufacturer_name, manufacturer_address, manufacturer_contact) VALUES (?, ?, ?)",
                   (manufacturer_name, manufacturer_address, manufacturer_contact))

# Generate data for DeviceStaticInfo table
for _ in range(5):  # Assuming you want to generate data for 5 devices
    manufacturer_id = fake.random_int(min=1, max=3)
    model = fake.lexify(text='Model ???')
    purchase_date = fake.date_between(start_date='-3y', end_date='today').strftime('%Y-%m-%d')
    warranty_expiry = fake.date_between(start_date='today', end_date='+3y').strftime('%Y-%m-%d')
    cursor.execute("INSERT INTO DeviceStaticInfo (manufacturer_id, model, purchase_date, warranty_expiry) VALUES (?, ?, ?, ?)",
                   (manufacturer_id, model, purchase_date, warranty_expiry))


# Commit the changes and close the connection
conn.commit()
conn.close()

## Check data

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database
cnx = mysql.connector.connect(user=username, password=password,
                              host=host, database=database)

cursor = cnx.cursor()
sql_str='SELECT * FROM DeviceStaticInfo;'
rs=cursor.execute(sql_str)
rs=cursor.fetchall()
print(rs)

[(1, 1, 'Model bRm', datetime.date(2023, 5, 15), datetime.date(2026, 10, 27)), (2, 1, 'Model lOq', datetime.date(2023, 5, 10), datetime.date(2026, 9, 3)), (3, 3, 'Model idC', datetime.date(2021, 7, 11), datetime.date(2024, 9, 1)), (4, 3, 'Model XAy', datetime.date(2023, 11, 4), datetime.date(2025, 5, 1)), (5, 2, 'Model jAJ', datetime.date(2022, 1, 2), datetime.date(2024, 12, 15))]

In [ ]:
import mysql.connector

# Establish a connection to the MySQL database
cnx = mysql.connector.connect(user=username, password=password,
                              host=host, database=database)

cursor = cnx.cursor()
cursor.execute("SHOW TABLES")

tables = [table[0] for table in cursor.fetchall()]


for table in tables:
    try:
        print(f"Reading data from table: {table}")
        cursor.execute(f"SELECT * FROM {table}")
        rows = cursor.fetchall()

        # Print rows if there are any, else indicate the table is empty
        if rows:
            print(f"Data from {table}:")
            for row in rows:
                print(row)
        else:
            print(f"No data found in {table}.")

    except pymysql.MySQLError as e:
        print(f"Error reading from {table}: {e}")

# Close the connection
cursor.close()
connection.close()

Reading data from table: AlertLifecycle
No data found in AlertLifecycle.
Reading data from table: Alerts
No data found in Alerts.
Reading data from table: DeviceOperationalData
No data found in DeviceOperationalData.
Reading data from table: DeviceStaticInfo
Data from DeviceStaticInfo:
(1, 1, 'Model bRm', datetime.date(2023, 5, 15), datetime.date(2026, 10, 27))
(2, 1, 'Model lOq', datetime.date(2023, 5, 10), datetime.date(2026, 9, 3))
(3, 3, 'Model idC', datetime.date(2021, 7, 11), datetime.date(2024, 9, 1))
(4, 3, 'Model XAy', datetime.date(2023, 11, 4), datetime.date(2025, 5, 1))
(5, 2, 'Model jAJ', datetime.date(2022, 1, 2), datetime.date(2024, 12, 15))
Reading data from table: GlucoseReadings
Data from GlucoseReadings:
(1226, 1, 5, 164.0, datetime.datetime(2023, 11, 3, 8, 17, 18), 'Morganborough')
(1227, 1, 4, 158.31, datetime.datetime(2023, 11, 21, 2, 25, 31), 'East Stacy')
(1228, 1, 3, 127.9, datetime.datetime(2023, 11, 4, 22, 42, 23), 'North George')
(1229, 1, 5, 155.32, datetime.datetime(2023, 10, 31, 4, 55, 16), 'Carlberg')
(1230, 1, 1, 158.5, datetime.datetime(2023, 10, 30, 15, 14, 31), 'Mendozaburgh')
(1231, 1, 1, 177.23, datetime.datetime(2023, 11, 1, 9, 37, 6), 'New Julie')
(1232, 1, 2, 160.1, datetime.datetime(2023, 11, 4, 0, 35, 1), 'South Hollyport')
(1233, 1, 4, 134.19, datetime.datetime(2023, 11, 17, 10, 10, 6), 'South Jacob')
(1234, 1, 3, 138.33, datetime.datetime(2023, 10, 25, 4, 35, 41), 'South Judith')
(1235, 1, 3, 119.22, datetime.datetime(2023, 11, 18, 14, 20, 43), 'Cassiefort')
(1236, 1, 2, 149.43, datetime.datetime(2023, 11, 6, 13, 5, 36), 'Rodriguezbury')
(1237, 1, 4, 147.23, datetime.datetime(2023, 11, 22, 13, 35, 17), 'North Lisaland')
(1238, 1, 3, 135.4, datetime.datetime(2023, 11, 11, 7, 55, 38), 'Port Charlesville')
(1239, 1, 4, 127.52, datetime.datetime(2023, 11, 10, 15, 28, 54), 'Kellyview')
(1240, 1, 2, 111.38, datetime.datetime(2023, 11, 1, 22, 36, 38), 'New Lisa')
(1241, 1, 2, 142.44, datetime.datetime(2023, 10, 26, 16, 4, 35), 'Jademouth')
(1242, 1, 3, 151.65, datetime.datetime(2023, 11, 19, 2, 35, 54), 'North Patricia')
(1243, 1, 2, 171.91, datetime.datetime(2023, 11, 10, 10, 29, 45), 'South Franciston')
(1244, 1, 2, 156.21, datetime.datetime(2023, 11, 21, 14, 57, 23), 'Milesberg')
(1245, 1, 4, 154.06, datetime.datetime(2023, 11, 20, 11, 8, 8), 'Crystalburgh')
(1246, 2, 2, 105.99, datetime.datetime(2023, 11, 8, 20, 15, 50), 'South Debbieborough')
(1247, 2, 5, 102.86, datetime.datetime(2023, 10, 31, 23, 51, 26), 'Rossburgh')
(1248, 2, 2, 88.83, datetime.datetime(2023, 11, 2, 1, 10), 'Johnhaven')
(1249, 2, 3, 95.42, datetime.datetime(2023, 11, 13, 16, 52, 29), 'Amystad')
(1250, 2, 1, 106.2, datetime.datetime(2023, 11, 17, 23, 30, 38), 'Williamsshire')
(1251, 2, 2, 80.74, datetime.datetime(2023, 10, 31, 23, 26, 33), 'Geoffreyport')
(1252, 2, 2, 75.05, datetime.datetime(2023, 11, 9, 0, 38, 32), 'West Sarahchester')
(1253, 2, 2, 84.03, datetime.datetime(2023, 11, 4, 1, 8, 35), 'Lake Brian')
(1254, 2, 1, 72.21, datetime.datetime(2023, 10, 29, 16, 33, 33), 'Katiechester')
(1255, 2, 3, 89.03, datetime.datetime(2023, 11, 17, 3, 52, 32), 'East Jacob')
(1256, 2, 1, 84.83, datetime.datetime(2023, 10, 30, 4, 31, 19), 'Michaelmouth')
(1257, 2, 4, 104.99, datetime.datetime(2023, 11, 13, 4, 54, 16), 'Kimberg')
(1258, 2, 1, 99.9, datetime.datetime(2023, 10, 26, 22, 10), 'North Brendaborough')
(1259, 2, 2, 89.69, datetime.datetime(2023, 11, 1, 17, 5, 10), 'Guzmanton')
(1260, 2, 4, 97.68, datetime.datetime(2023, 11, 7, 2, 33, 8), 'Reevestown')
(1261, 2, 4, 73.68, datetime.datetime(2023, 11, 18, 2, 50, 9), 'East Stephen')
(1262, 2, 5, 82.31, datetime.datetime(2023, 11, 2, 22, 6, 41), 'Rogersfort')
(1263, 2, 3, 78.84, datetime.datetime(2023, 11, 6, 11, 19, 33), 'New Adam')
(1264, 2, 4, 77.15, datetime.datetime(2023, 10, 25, 10, 12, 28), 'Joshuatown')
(1265, 2, 3, 85.62, datetime.datetime(2023, 11, 18, 14, 16, 7), 'Richardberg')
(1266, 3, 5, 75.13, datetime.datetime(2023, 11, 6, 15, 45, 15), 'Mendezshire')
(1267, 3, 3, 93.5, datetime.datetime(2023, 10, 25, 17, 3, 57), 'New Janet')
(1268, 3, 3, 107.29, datetime.datetime(2023, 10, 27, 10, 58), 'East Alexanderberg')
(1269, 3, 2, 71.12, datetime.datetime(2023, 10, 31, 3, 39, 2), 'Port Dawn')
(1270, 3, 4, 103.97, datetime.datetime(2023, 10, 24, 10, 23, 12), 'Angelafurt')
(1271, 3, 3, 75.74, datetime.datetime(2023, 10, 25, 15, 47, 56), 'Robertfurt')
(1272, 3, 3, 107.53, datetime.datetime(2023, 11, 17, 7, 1, 21), 'Lake Elizabeth')
(1273, 3, 1, 106.45, datetime.datetime(2023, 11, 11, 1, 0, 13), 'Mcknighttown')
(1274, 3, 5, 85.44, datetime.datetime(2023, 11, 22, 7, 42, 29), 'Jillmouth')
(1275, 3, 4, 78.82, datetime.datetime(2023, 11, 20, 14, 56, 18), 'East Lauraside')
(1276, 3, 1, 75.11, datetime.datetime(2023, 11, 12, 11, 9, 3), 'Alisonfort')
(1277, 3, 3, 101.2, datetime.datetime(2023, 11, 20, 7, 51, 35), 'Maysport')
(1278, 3, 1, 79.65, datetime.datetime(2023, 11, 5, 20, 4, 26), 'Raybury')
(1279, 3, 3, 98.71, datetime.datetime(2023, 10, 28, 13, 9, 37), 'Wilkinsonhaven')
(1280, 3, 1, 109.54, datetime.datetime(2023, 10, 30, 8, 46, 13), 'East Natasha')
(1281, 3, 5, 86.68, datetime.datetime(2023, 11, 20, 10, 40, 49), 'Lake Juan')
(1282, 3, 5, 70.96, datetime.datetime(2023, 11, 20, 11, 51, 8), 'Port Donna')
(1283, 3, 4, 107.97, datetime.datetime(2023, 11, 6, 15, 20, 17), 'West Jessica')
(1284, 3, 2, 99.68, datetime.datetime(2023, 11, 21, 12, 11, 48), 'Vincentfurt')
(1285, 3, 1, 77.23, datetime.datetime(2023, 11, 16, 3, 56, 43), 'Angelahaven')
(1286, 4, 4, 149.83, datetime.datetime(2023, 11, 18, 7, 31, 24), 'Port Brandonstad')
(1287, 4, 2, 162.41, datetime.datetime(2023, 10, 30, 10, 6, 53), 'South Brittany')
(1288, 4, 2, 152.75, datetime.datetime(2023, 10, 28, 9, 4, 31), 'Adamstad')
(1289, 4, 2, 156.36, datetime.datetime(2023, 11, 13, 12, 53, 3), 'Princeburgh')
(1290, 4, 4, 117.34, datetime.datetime(2023, 11, 1, 14, 34, 40), 'Rodriguezburgh')
(1291, 4, 2, 140.96, datetime.datetime(2023, 11, 15, 0, 36, 52), 'Jordanshire')
(1292, 4, 2, 125.78, datetime.datetime(2023, 11, 5, 13, 3, 53), 'Wellsberg')
(1293, 4, 5, 147.03, datetime.datetime(2023, 10, 31, 3, 39, 22), 'Crosbyside')
(1294, 4, 2, 155.75, datetime.datetime(2023, 11, 10, 10, 4, 34), 'Ramosfurt')
(1295, 4, 3, 122.7, datetime.datetime(2023, 10, 29, 9, 47, 49), 'South Christopherview')
(1296, 4, 3, 117.38, datetime.datetime(2023, 11, 22, 13, 32, 39), 'North Douglas')
(1297, 4, 4, 132.59, datetime.datetime(2023, 10, 29, 0, 29, 52), 'South Anthonymouth')
(1298, 4, 2, 157.31, datetime.datetime(2023, 11, 18, 1, 33, 27), 'East Christopherview')
(1299, 4, 5, 149.09, datetime.datetime(2023, 10, 28, 9, 8, 8), 'West Stephanie')
(1300, 4, 5, 115.55, datetime.datetime(2023, 11, 2, 20, 19, 35), 'East Mark')
(1301, 4, 2, 147.95, datetime.datetime(2023, 10, 28, 15, 7, 47), 'Garciaberg')
(1302, 4, 2, 112.01, datetime.datetime(2023, 11, 2, 9, 11, 13), 'West Krystalland')
(1303, 4, 5, 179.54, datetime.datetime(2023, 10, 26, 0, 19, 7), 'Lake Matthew')
(1304, 4, 3, 177.46, datetime.datetime(2023, 11, 12, 10, 11, 35), 'Lake Lindseyview')
(1305, 4, 1, 117.88, datetime.datetime(2023, 10, 26, 20, 28), 'Loriberg')
(1306, 5, 5, 131.21, datetime.datetime(2023, 11, 11, 19, 58, 52), 'Jacksonmouth')
(1307, 5, 2, 173.36, datetime.datetime(2023, 11, 13, 2, 3, 27), 'Martinfurt')
(1308, 5, 2, 160.19, datetime.datetime(2023, 11, 12, 15, 49, 31), 'Port Michaelfurt')
(1309, 5, 4, 237.96, datetime.datetime(2023, 11, 5, 9, 11, 53), 'Morrisberg')
(1310, 5, 2, 219.12, datetime.datetime(2023, 11, 6, 0, 36, 55), 'Jenniferberg')
(1311, 5, 5, 150.86, datetime.datetime(2023, 11, 9, 14, 44, 27), 'Kellyshire')
(1312, 5, 1, 135.01, datetime.datetime(2023, 11, 22, 19, 37, 16), 'North Rebecca')
(1313, 5, 5, 241.84, datetime.datetime(2023, 11, 2, 1, 12, 58), 'Kimberlychester')
(1314, 5, 5, 147.41, datetime.datetime(2023, 10, 27, 17, 59, 19), 'West Christine')
(1315, 5, 3, 227.72, datetime.datetime(2023, 11, 22, 23, 21, 8), 'Cynthiaburgh')
(1316, 5, 3, 152.49, datetime.datetime(2023, 10, 28, 4, 15, 6), 'North Melissashire')
(1317, 5, 4, 146.08, datetime.datetime(2023, 10, 31, 9, 57, 56), 'Anamouth')
(1318, 5, 4, 132.57, datetime.datetime(2023, 10, 26, 14, 8, 17), 'Mcdowellside')
(1319, 5, 1, 248.02, datetime.datetime(2023, 10, 29, 15, 54, 55), 'North Johnfort')
(1320, 5, 4, 219.28, datetime.datetime(2023, 11, 12, 18, 34, 30), 'North Nicholaston')
(1321, 5, 2, 175.21, datetime.datetime(2023, 11, 12, 1, 59, 11), 'Jamesland')
(1322, 5, 3, 175.0, datetime.datetime(2023, 11, 15, 4, 19, 29), 'Chaseland')
(1323, 5, 2, 203.01, datetime.datetime(2023, 10, 24, 11, 40, 57), 'South Melindaport')
(1324, 5, 4, 220.2, datetime.datetime(2023, 11, 8, 11, 32, 43), 'New Madelinefurt')
(1325, 5, 5, 151.97, datetime.datetime(2023, 11, 20, 7, 30, 55), 'West Lisa')
(1326, 6, 2, 59.44, datetime.datetime(2023, 10, 27, 3, 57, 14), 'East Devinville')
(1327, 6, 5, 48.71, datetime.datetime(2023, 11, 11, 21, 37, 19), 'Martinburgh')
(1328, 6, 5, 58.88, datetime.datetime(2023, 11, 4, 15, 59, 53), 'Murphymouth')
(1329, 6, 5, 60.92, datetime.datetime(2023, 11, 3, 1, 23, 3), 'Adamshire')
(1330, 6, 2, 47.0, datetime.datetime(2023, 11, 20, 2, 33, 17), 'Boothberg')
(1331, 6, 1, 46.51, datetime.datetime(2023, 10, 26, 4, 42, 28), 'Solomonstad')
(1332, 6, 1, 53.01, datetime.datetime(2023, 11, 5, 4, 44, 51), 'New Crystalview')
(1333, 6, 5, 59.42, datetime.datetime(2023, 10, 30, 16, 39, 49), 'South Meghan')
(1334, 6, 4, 51.06, datetime.datetime(2023, 11, 7, 0, 32, 2), 'New Melissaton')
(1335, 6, 2, 61.3, datetime.datetime(2023, 11, 17, 10, 56, 19), 'Spencerchester')
(1336, 6, 3, 48.95, datetime.datetime(2023, 11, 8, 10, 46, 44), 'Petersonshire')
(1337, 6, 5, 54.14, datetime.datetime(2023, 11, 20, 8, 7, 58), 'South Gina')
(1338, 6, 2, 51.9, datetime.datetime(2023, 10, 27, 6, 32, 3), 'Craigburgh')
(1339, 6, 2, 63.1, datetime.datetime(2023, 11, 14, 13, 8, 14), 'Port Ginafurt')
(1340, 6, 2, 49.66, datetime.datetime(2023, 10, 28, 13, 15, 43), 'West Joel')
(1341, 6, 4, 47.94, datetime.datetime(2023, 11, 19, 18, 17, 21), 'Garciaview')
(1342, 6, 3, 63.81, datetime.datetime(2023, 11, 22, 1, 14, 18), 'Stevenbury')
(1343, 6, 4, 66.98, datetime.datetime(2023, 11, 19, 2, 49, 35), 'West Greg')
(1344, 6, 1, 51.85, datetime.datetime(2023, 11, 22, 3, 19, 2), 'Heatherview')
(1345, 6, 3, 55.8, datetime.datetime(2023, 11, 4, 21, 41, 22), 'Scotttown')
(1346, 7, 3, 54.25, datetime.datetime(2023, 11, 18, 10, 46, 44), 'Rossbury')
(1347, 7, 4, 66.35, datetime.datetime(2023, 11, 14, 4, 58, 21), 'Benjaminton')
(1348, 7, 5, 67.91, datetime.datetime(2023, 11, 22, 20, 31, 41), 'South Jonside')
(1349, 7, 2, 68.14, datetime.datetime(2023, 11, 17, 4, 40, 55), 'Nielsenview')
(1350, 7, 5, 62.48, datetime.datetime(2023, 11, 14, 3, 40, 33), 'New Kenneth')
(1351, 7, 4, 57.85, datetime.datetime(2023, 11, 14, 22, 7, 18), 'Andreaview')
(1352, 7, 4, 64.61, datetime.datetime(2023, 11, 19, 21, 3, 56), 'West Williamview')
(1353, 7, 3, 56.08, datetime.datetime(2023, 10, 30, 13, 40, 13), 'Port Kimberlyberg')
(1354, 7, 5, 40.62, datetime.datetime(2023, 11, 16, 6, 19, 54), 'Pruittville')
(1355, 7, 4, 64.83, datetime.datetime(2023, 11, 8, 5, 17, 12), 'Johnsonport')
(1356, 7, 5, 69.29, datetime.datetime(2023, 11, 13, 2, 47, 20), 'Kaylaberg')
(1357, 7, 2, 66.86, datetime.datetime(2023, 10, 28, 9, 20, 45), 'East Douglas')
(1358, 7, 5, 40.22, datetime.datetime(2023, 11, 3, 3, 43, 15), 'South Tammy')
(1359, 7, 1, 55.78, datetime.datetime(2023, 11, 20, 22, 35, 13), 'Caldwellview')
(1360, 7, 3, 57.39, datetime.datetime(2023, 11, 11, 0, 7, 29), 'Lake Brian')
(1361, 7, 2, 67.23, datetime.datetime(2023, 11, 12, 12, 50, 50), 'Butlerfort')
(1362, 7, 2, 52.65, datetime.datetime(2023, 11, 19, 15, 11, 2), 'Gilestown')
(1363, 7, 4, 51.16, datetime.datetime(2023, 11, 7, 5, 32, 48), 'South Andrew')
(1364, 7, 5, 55.25, datetime.datetime(2023, 11, 10, 23, 21, 21), 'Lake Jessicaside')
(1365, 7, 4, 44.68, datetime.datetime(2023, 11, 12, 9, 11, 41), 'Elizabethport')
(1366, 8, 2, 113.98, datetime.datetime(2023, 10, 31, 20, 48, 33), 'Brendashire')
(1367, 8, 1, 160.45, datetime.datetime(2023, 10, 30, 15, 48, 25), 'Andrewtown')
(1368, 8, 1, 156.98, datetime.datetime(2023, 11, 1, 3, 14, 28), 'Averymouth')
(1369, 8, 4, 150.32, datetime.datetime(2023, 11, 1, 16, 33, 21), 'Gregoryburgh')
(1370, 8, 2, 157.58, datetime.datetime(2023, 11, 4, 18, 38, 3), 'East Jasonland')
(1371, 8, 1, 175.76, datetime.datetime(2023, 11, 17, 11, 45, 44), 'Nancyhaven')
(1372, 8, 1, 147.0, datetime.datetime(2023, 10, 30, 16, 48, 28), 'East Mariah')
(1373, 8, 3, 127.3, datetime.datetime(2023, 11, 15, 16, 23, 30), 'South Christophermouth')
(1374, 8, 1, 152.48, datetime.datetime(2023, 10, 25, 11, 23, 30), 'Gillespieberg')
(1375, 8, 5, 117.63, datetime.datetime(2023, 11, 19, 21, 29, 36), 'South Jackfurt')
(1376, 8, 1, 135.44, datetime.datetime(2023, 10, 25, 10, 8, 6), 'Angelaland')
(1377, 8, 1, 130.43, datetime.datetime(2023, 11, 7, 12, 8, 32), 'Stephanieshire')
(1378, 8, 4, 170.33, datetime.datetime(2023, 10, 29, 13, 33, 28), 'Michaelbury')
(1379, 8, 2, 116.07, datetime.datetime(2023, 11, 12, 18, 44, 45), 'Whitemouth')
(1380, 8, 5, 168.76, datetime.datetime(2023, 11, 23, 7, 32, 15), 'South Cynthia')
(1381, 8, 4, 117.62, datetime.datetime(2023, 11, 12, 20, 5, 23), 'North Kristin')
(1382, 8, 5, 139.35, datetime.datetime(2023, 11, 17, 16, 14, 58), 'New Danielmouth')
(1383, 8, 3, 166.02, datetime.datetime(2023, 11, 7, 14, 57, 16), 'Bakershire')
(1384, 8, 4, 136.3, datetime.datetime(2023, 11, 10, 6, 35, 46), 'Richardshire')
(1385, 8, 1, 175.86, datetime.datetime(2023, 10, 25, 10, 7, 28), 'Brettshire')
(1386, 9, 5, 130.13, datetime.datetime(2023, 11, 15, 17, 28, 12), 'New Pamela')
(1387, 9, 1, 122.08, datetime.datetime(2023, 10, 29, 12, 27, 44), 'Pamelatown')
(1388, 9, 5, 94.9, datetime.datetime(2023, 11, 21, 15, 28, 5), 'Port Stacystad')
(1389, 9, 4, 95.53, datetime.datetime(2023, 10, 28, 15, 11, 20), 'South John')
(1390, 9, 4, 108.38, datetime.datetime(2023, 11, 15, 11, 54, 52), 'North Darrylport')
(1391, 9, 3, 120.35, datetime.datetime(2023, 11, 14, 1, 5, 27), 'New Adrienneside')
(1392, 9, 5, 145.77, datetime.datetime(2023, 11, 22, 1, 16, 8), 'Heidishire')
(1393, 9, 5, 172.25, datetime.datetime(2023, 11, 22, 0, 37, 25), 'South Amy')
(1394, 9, 5, 81.82, datetime.datetime(2023, 11, 19, 3, 3, 8), 'Port Deniseburgh')
(1395, 9, 4, 134.06, datetime.datetime(2023, 11, 20, 23, 59, 50), 'North Andrea')
(1396, 9, 5, 172.96, datetime.datetime(2023, 10, 28, 10, 51, 47), 'Darrylmouth')
(1397, 9, 1, 153.46, datetime.datetime(2023, 11, 22, 22, 17, 4), 'North Reginamouth')
(1398, 9, 5, 140.92, datetime.datetime(2023, 11, 16, 12, 34, 45), 'Kristinside')
(1399, 9, 4, 114.76, datetime.datetime(2023, 11, 20, 22, 53, 9), 'West Johnview')
(1400, 9, 1, 99.45, datetime.datetime(2023, 11, 12, 20, 46, 7), 'South Carriemouth')
(1401, 9, 3, 98.34, datetime.datetime(2023, 11, 9, 5, 19, 18), 'Lozanobury')
(1402, 9, 2, 174.46, datetime.datetime(2023, 11, 4, 8, 26, 23), 'Davidberg')
(1403, 9, 1, 87.05, datetime.datetime(2023, 10, 30, 15, 3, 42), 'South Alyssatown')
(1404, 9, 1, 90.87, datetime.datetime(2023, 11, 2, 18, 33, 31), 'New Rachelhaven')
(1405, 9, 5, 105.08, datetime.datetime(2023, 11, 5, 16, 55, 17), 'Port Abigail')
(1406, 10, 1, 151.48, datetime.datetime(2023, 11, 21, 0, 49, 29), 'Angelaview')
(1407, 10, 4, 154.64, datetime.datetime(2023, 11, 20, 12, 19, 44), 'Randyville')
(1408, 10, 2, 156.66, datetime.datetime(2023, 10, 28, 23, 37, 56), 'North Rebeccamouth')
(1409, 10, 5, 144.23, datetime.datetime(2023, 11, 5, 11, 58, 56), 'Barbarafurt')
(1410, 10, 5, 177.61, datetime.datetime(2023, 10, 30, 13, 3, 21), 'Port Stevenfurt')
(1411, 10, 5, 139.49, datetime.datetime(2023, 11, 14, 16, 44, 54), 'West Christopher')
(1412, 10, 5, 243.93, datetime.datetime(2023, 11, 2, 23, 0, 14), 'West Mary')
(1413, 10, 4, 192.39, datetime.datetime(2023, 11, 15, 11, 46, 48), 'Port Jennifer')
(1414, 10, 5, 216.58, datetime.datetime(2023, 11, 1, 2, 16, 28), 'Stevenschester')
(1415, 10, 1, 194.46, datetime.datetime(2023, 11, 20, 18, 45, 17), 'West Christinaton')
(1416, 10, 3, 151.03, datetime.datetime(2023, 11, 11, 12, 24, 51), 'Leahbury')
(1417, 10, 2, 147.09, datetime.datetime(2023, 11, 11, 8, 36, 16), 'New Melissa')
(1418, 10, 5, 177.59, datetime.datetime(2023, 10, 25, 12, 4, 49), 'Millerborough')
(1419, 10, 3, 168.44, datetime.datetime(2023, 11, 5, 20, 33, 59), 'Port Wanda')
(1420, 10, 5, 166.77, datetime.datetime(2023, 11, 7, 14, 20, 57), 'Yangborough')
(1421, 10, 2, 141.46, datetime.datetime(2023, 11, 7, 21, 2, 16), 'Port Robertborough')
(1422, 10, 4, 152.76, datetime.datetime(2023, 11, 1, 20, 12, 43), 'Lake Williambury')
(1423, 10, 3, 129.77, datetime.datetime(2023, 11, 1, 17, 27, 26), 'North Emmaborough')
(1424, 10, 3, 245.54, datetime.datetime(2023, 10, 31, 19, 47, 12), 'Johnmouth')
(1425, 10, 2, 204.98, datetime.datetime(2023, 11, 15, 17, 18, 47), 'West Bethanybury')
(1426, 11, 3, 196.11, datetime.datetime(2023, 10, 29, 17, 7, 28), 'Gonzalezborough')
(1427, 11, 3, 136.07, datetime.datetime(2023, 11, 17, 4, 3, 21), 'Powersstad')
(1428, 11, 5, 151.6, datetime.datetime(2023, 11, 1, 17, 42, 38), 'Lake Lauren')
(1429, 11, 2, 138.88, datetime.datetime(2023, 11, 1, 1, 53, 13), 'Port Johnnyport')
(1430, 11, 3, 195.19, datetime.datetime(2023, 10, 27, 9, 23, 37), 'New Kellychester')
(1431, 11, 4, 158.81, datetime.datetime(2023, 11, 13, 4, 36, 23), 'Markmouth')
(1432, 11, 4, 144.95, datetime.datetime(2023, 11, 3, 21, 51, 48), 'South Allisonton')
(1433, 11, 2, 177.9, datetime.datetime(2023, 10, 28, 0, 36, 6), 'West Brandon')
(1434, 11, 3, 139.28, datetime.datetime(2023, 11, 10, 13, 54, 16), 'Jeffreybury')
(1435, 11, 2, 238.11, datetime.datetime(2023, 10, 26, 13, 59, 39), 'South Kaitlyn')
(1436, 11, 2, 216.09, datetime.datetime(2023, 10, 27, 13, 33, 3), 'New Kyle')
(1437, 11, 2, 129.46, datetime.datetime(2023, 10, 29, 16, 54, 45), 'Port Davidburgh')
(1438, 11, 2, 199.59, datetime.datetime(2023, 11, 20, 12, 48, 48), 'Port Barbarabury')
(1439, 11, 4, 203.27, datetime.datetime(2023, 11, 18, 16, 7, 12), 'Port Laurabury')
(1440, 11, 3, 185.41, datetime.datetime(2023, 11, 20, 2, 39, 12), 'South John')
(1441, 11, 4, 248.66, datetime.datetime(2023, 11, 11, 15, 2, 25), 'Susanmouth')
(1442, 11, 2, 208.0, datetime.datetime(2023, 10, 25, 8, 32, 31), 'Riosborough')
(1443, 11, 1, 240.68, datetime.datetime(2023, 11, 11, 2, 39, 58), 'Port Amyberg')
(1444, 11, 5, 200.99, datetime.datetime(2023, 11, 22, 21, 36, 12), 'Michaelburgh')
(1445, 11, 2, 237.82, datetime.datetime(2023, 11, 2, 16, 17, 28), 'North Patrickbury')
(1446, 12, 5, 80.99, datetime.datetime(2023, 10, 24, 10, 37, 3), 'West Stephanie')
(1447, 12, 2, 114.66, datetime.datetime(2023, 10, 25, 11, 23, 15), 'North Anthonymouth')
(1448, 12, 4, 121.76, datetime.datetime(2023, 11, 10, 13, 35, 49), 'Watkinsview')
(1449, 12, 5, 119.26, datetime.datetime(2023, 11, 4, 9, 21, 31), 'Lake Debra')
(1450, 12, 5, 138.89, datetime.datetime(2023, 11, 17, 8, 14, 12), 'Aaronchester')
(1451, 12, 1, 178.05, datetime.datetime(2023, 10, 26, 17, 53, 20), 'Meaganshire')
(1452, 12, 4, 91.12, datetime.datetime(2023, 11, 14, 4, 49, 45), 'South Donald')
(1453, 12, 3, 88.46, datetime.datetime(2023, 11, 5, 20, 29, 56), 'Hancockborough')
(1454, 12, 3, 115.73, datetime.datetime(2023, 11, 7, 16, 17, 19), 'New Patrickland')
(1455, 12, 3, 137.29, datetime.datetime(2023, 10, 31, 20, 33, 54), 'Lake Brittany')
(1456, 12, 1, 93.62, datetime.datetime(2023, 11, 10, 21, 34, 11), 'Stevenville')
(1457, 12, 4, 93.56, datetime.datetime(2023, 11, 15, 11, 20, 11), 'Matthewfort')
(1458, 12, 5, 110.06, datetime.datetime(2023, 11, 10, 11, 32, 14), 'Briantown')
(1459, 12, 3, 165.5, datetime.datetime(2023, 11, 10, 1, 56, 57), 'Emilytown')
(1460, 12, 2, 126.48, datetime.datetime(2023, 11, 14, 12, 45, 30), 'North Valeriebury')
(1461, 12, 1, 102.55, datetime.datetime(2023, 11, 14, 12, 34, 1), 'Christophershire')
(1462, 12, 1, 149.79, datetime.datetime(2023, 11, 16, 20, 17, 16), 'Port Alexis')

NameError: ignored